.filesystem {
    width: 100%;
}

.filesystem > .filesystem_info {
    height: 35px;
    width: 100%;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filesystem > .filesystem_info:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.filesystem > .filesystem_info:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.filesystem > .filesystem_info > p {
    line-height: 35px;
    height: 35px;
    margin-left: 5px;
}

.filesystem > .filesystem_info > a {
    width: 15px;
    height: 15px;
    padding: 10px 5px;
    transition: opacity 0.2s, transform 0.2s;
}

.filesystem > .filesystem_info > a > svg {
    fill: white!important;
    width: 15px;
    height: 15px;
}